.main-nav {

  display: flex;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  padding: 1px 0;

}

.left-nav > ul,
.right-nav > ul {
      display: flex;
      align-items: center;
}

.left-nav {

  > ul {
    > li {
      font-family: $sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      margin: 10px;
      padding: 4px 0;
    }
  }


  span {

  }
}

.right-nav  {

  > ul {
    > li {
      font-family: $sans-serif;
      font-weight: bold;
      margin: 3px;
      padding: 4px;
      text-transform: uppercase;
      border-radius: 5px;
      padding: 7px;
      display: flex;
      color: white;
      background-color: $dark-blue;
    }

    #log-in-btn {
      background-color: $darkest-blue;
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $light-gray;
  cursor: pointer;

}
